<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="">About</a>
        <a href="">Shoes</a>
        <a href="">Clothes</a>
        <a href="">Contact</a>
        <a href="/api/auth/login">Login</a>
        <a href="/api/auth/register">Register</a>
        <a href="/api/carts" class="shoppingCart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
    </header>
</body>
</html>
