<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d04a6002a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    {{>header}}
   <!-- <p>{{others._id}}</p>
    <span id="bearer">bearer {{others.token}}</span>-->
    <form action="" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="">
        <label for="username">Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Login</button>
    </form>
    {{>footer}}
</body>
</html>