<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d04a6002a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="username">Chose username</label>
        <input type="text" name="username" id="">
        <label for="username">Your email address</label>
        <input type="text" name="email" id="">
        <label for="username">Chose a strong password</label>
        <input type="password" name="password" id="">
        <button type="submit">Register</button>
    </form>
</body>
</html>