body{
    background: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    background: #17181a;
}
header a{
    padding: 0 4vh;
    color:whitesmoke;
    font-size: 20px;
    text-decoration: none;
}
header a:hover, footer .links:hover{
    color:#9a222b;
}
footer{
    height: 20vh;
    display: flex;
    align-items: center;
    background: #17181a;
    justify-content: center;
}
footer .links{
    display: flex;
    padding-right: 5vh;
}
.links a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 0 2vh;
}
.cardProvider{
    width: max-content;    
}
.cardProvider img{
    width: 20vw;
}
.ourH1{
    color:#17181a;
    text-align: center;
    background: #9a222b;
    font-size: 26px;
    margin: 0;
    padding:18px 0;
}
.filterBar{
    position: relative;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.089);
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    padding: 20px 0;
    margin-bottom: 20px;
}
.filterBar select{
    background: white;
    position: relative;
    left: 50vh;
    padding: 8px 20px;
    border-radius: 6px;
    margin-right: 15px;
}
.productItem{
    margin: 0 auto;
    max-width: 80%;
    display: grid;
    grid-template-rows:auto auto auto;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}
.productLink{
    color:#333;
    text-align: left;
    text-decoration: none;
}
.productItemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(143, 143, 143, 0.09);
    border-radius: 8px;
    padding:20px;
    height: 50vh;
    width: 30vh;
}
.productItemContainer:hover{
    transform: scale(1.05);
}
.productItemContainer div{
    margin: 4px 0;
}
.image{
    display: flex;
    align-items: center;
    height: 35vh;
}
.image:hover{
    opacity: .8;
}
.image img{
    width: 30vh;
}
.brand{
    font-size: 22px;
}
.title{
    font-size: 24px;
    font-weight: 600;
}
.price{
    font-size: 22px;
}
.shoppingCart{
    display: flex;
    align-items: center;
    color:white;
    font-size: 18px;
}
.shoppingCart i{
    padding-right:10px;
}


.mainItem{
    max-width: 90%;
    height: 67vh;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
}
.leftSide{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.leftSide img{
    width: max-content;
}
.rightSide{
    width: 50%;
    font-size: 1.25em;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightCont{
    width: max-content;
    margin-left: 10vh;
    border-left: 2px solid rgba(0, 0, 0, 0.089);
}
.rightSide div div{
    margin: 15px 5vh;
}
#addToCart{
    padding:14px 20px;
    background: #9a222b;
    color: whitesmoke;
    border-radius: 6px;
    outline: none;
    border: none;
}
#addToCart:hover{
    opacity: .9;
    cursor: pointer;
}
.rightTitle,.rightPrice, .rightDesc{
    font-size: 1.5em;
}
.rightTitle{
    font-weight: 600;
    font-size: 1.7em;
}
.itmImg{
    padding-right: 25px;
}
.itmImg img{
    width: 20vh;
}
.cartContainer{
    margin: 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartItem{
    height: 25vh;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}
.quantity{
    font-size: 18px;
}
.quantity select{
    margin-left: 10px;
}
.itmTxt{
    display: flex;
    flex-direction: column;
}
.topCont{
    position: relative;
   
    display: flex;
    width: 70vh;
    font-size: 22px;

}
.topCont .itmPrice{
    position: absolute;
    right: 30px;
}
.itmCategory{
    margin: 10px 0;
    font-size: 20px;
}
.similar{
    text-align: center;
}
.order button{
    background: orangered;
    padding: 16px 26px;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    outline: none;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 600;
    color:whitesmoke;
    float: right;
}
.adminContainer{
    height: 80vh;
}
.adminController{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #9a222b;
    width: 150px;
    height: 80vh;
}
.adminBtn{
    margin: 0 0 20px 0;
}
.adminBtn button{
    border-radius: 5px;
    border: 0;
    width: 140px;
    padding: 10px 0;
    font-size: 16px;
}
.adminBtn button:hover{
    cursor: pointer;
    opacity: .9;
}
.adminAddProductForm{
    padding: 50px 0;
}
.adminAddProductForm form{
    margin: 0 auto;
    display: flex;
    border: 3px solid #333;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
}
.adminAddProductForm form input{
    padding:10px 5px;
    width: 50vh;
    margin: 6px 0;
    border-radius: 8px;
    border: 1px solid rgba(51, 51, 51, 0.142);
    font-size: 18px;
}
.adminAddProductForm h1{
    font-size: 22px;
}